{% extends 'base.html' %}
{% load sort_products %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block main %}
<div class="container my-5">

    <div class="text-center my-5">
        <h2 class="fw-bold mb-4">Наші товари</h2>
        <div id="sort-buttons" class="d-flex flex-wrap justify-content-center gap-2">
            <a href="?sort=all" class="btn btn-light border shadow-sm px-3 py-1 rounded-pill">Все</a>
            <a href="?sort=price" class="btn btn-light border shadow-sm px-3 py-1 rounded-pill">За ціною</a>
            <a href="?sort=watched" class="btn btn-light border shadow-sm px-3 py-1 rounded-pill">За переглядами</a>
            <a href="?sort=create_at" class="btn btn-light border shadow-sm px-3 py-1 rounded-pill">Свіжі</a>
            <a href="?sort=product_rating" class="btn btn-light border shadow-sm px-3 py-1 rounded-pill">За
                рейтингом</a>
            <a href="?sort=title" class="btn btn-light border shadow-sm px-3 py-1 rounded-pill">Від А до Я</a>
            <a href="?sort=title_minus" class="btn btn-light border shadow-sm px-3 py-1 rounded-pill">Від Я до А</a>
        </div>
    </div>

    {% get_sorted_products as products %}
    {% include "shop/components/_products.html" with prod=products %}


    <div class="mt-5">
        <h2 class="text-center mb-4">Категорії</h2>
        <div class="row g-4 justify-content-center">
            {% for cat in categories %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card h-100 shadow-sm">
                    <a href="{{ cat.get_absolute_url }}">
                        <img src="{{ cat.get_parent_cat_photo }}"
                             alt="{{ cat.name }}"
                             class="card-img-top"
                             style="height: 180px; object-fit: contain; background-color: #f8f9fa;"
                             onerror="this.src='https://via.placeholder.com/300x200?text=No+Img'">
                    </a>
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ cat.title }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
