<footer class="bg-dark text-white pt-5 pb-4 mt-5">
    <div class="container text-md-left">
        <div class="row text-md-left">

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">ShopName</h5>
                <p>Надійний онлайн-магазин сучасних товарів. Швидка доставка та зручна оплата.</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Навігація</h5>
                <p><a href="/" class="text-white" style="text-decoration: none;">Головна</a></p>
                <p><a href="/cart/" class="text-white" style="text-decoration: none;">Кошик</a></p>
                <p><a href="/favorites/" class="text-white" style="text-decoration: none;">Обране</a></p>
                <p><a href="/contact/" class="text-white" style="text-decoration: none;">Контакти</a></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Контакти</h5>
                <p><i class="fas fa-home mr-3"></i> Україна, Київ</p>
                <p><i class="fas fa-envelope mr-3"></i> info@shopname.com</p>
                <p><i class="fas fa-phone mr-3"></i> +38 (099) 123-45-67</p>
            </div>
            <div class="col-md-2 col-lg-4 col-xl-4 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Пошук товарів</h5>
                <form class="d-flex" method="POST" action="{% url 'add_gmail' %}">
                    {% csrf_token %}
                    <input
                            class="form-control me-2"
                            type="email"
                            name="gmail"
                            placeholder="Введіть свій email"
                            required
                    />
                    <button class="btn btn-warning" type="submit">Підписатися</button>
                </form>
            </div>

        </div>

        <hr class="mb-4">

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p>© 2025 ShopName. Всі права захищено.</p>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <a href="#" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-4"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white me-4"><i class="fab fa-telegram-plane"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>